.idea
__pycache__
*.pyc
tags
.vscode/*

/athena.egg-info/
/athena/transform/feats/ops/x_ops.so

/build
/event

/dist
nohup.out*
/examples/asr/hkust/ckpts*
/examples/asr/hkust/data/train.csv
/examples/asr/hkust/data*

/tools/kenlm
/tools/sph2pipe_v2.5.tar.gz
/tools/sph2pipe
